.input-size {
    width: 3rem;
}
body {
    height: 100vh;
    min-width: 20rem;
    background-image: url(./background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}